
<% include ../partials/top.ejs %>

<title> <%= title_contributionsweek %> </title>

<% include ../partials/head.ejs %>

<h1>Number of new contributions in each province of Spain</h1>

<p>This chart shows the top 5 provinces in number of new contributions</p>

<canvas id="char" style="width:60%;" height="400"></canvas>

<h2>Legend</h2>

<table id="legend" style="width:60%; margin: 0 auto;">
</table>



<h2>Ranking of total contributions</h2>
<table id="contributions">
  <thead>
    <tr>
      <th>Position</th>
      <th>City</th>
      <th>Total contributions</th>
    </tr>
  </thead>
</table>


<h2>How it was calculated?</h2>
<p>When I calculed <a href="totalcontributions.html">total contributions</a>, I calculed differences
between the different dates.</p>

<h2>Data</h2>
<ul class="actions">
	<li><a href="https://github.com/iblancasa/GitHub-DataProcessed-Spain/blob/master/contributionsWeek.json" class="button"> <i class="fa fa-github"></i>Go to the data</a></li>
</ul>



<% include ../partials/scripts.ejs %>
<script src="assets/js/chart.min.js" defer></script>
<script src="js/contributionsweek.js" defer></script>
<% include ../partials/footer.ejs %>
