<% include ../partials/top.ejs %>

<title> <%= title_languages %> </title>

<% include ../partials/head.ejs %>

<h1>The most used programming languages by Spanish developers in GitHub</h1>
<div id="map">
		</div>

<h2>Map legend</h2>
<table id="leyend">
</table>

<h2>Graphic</h2>
<canvas id="graph" style="width:60%;" height="400"></canvas>
<p>All these data it's showing in percentage</p>


<h2>How it was calculated?</h2>
<h3>Map</h3>
<p>If you visit this <a href="https://github.com/JJ/top-github-users-data">repository</a>, you could find
	data about developers from different parts in Spain. I took this data and made a count of the languages.</p>

<h3>Graph</h3>
<p>In <a href="https://github.com/JJ/top-github-users-data"> this repository, there are data about
Spain. You could took this data and calculate percentage of use of this languages.</a></p>


<h2>Data</h2>
<ul class="actions">
	<li><a href="https://github.com/iblancasa/GitHub-DataProcessed-Spain/blob/master/languagesProvince.json" class="button"> <i class="fa fa-github"></i>Go to the data</a></li>
</ul>

<% include ../partials/scripts.ejs %>
<script src="assets/js/raphael-min.js" defer></script>
<script src="assets/js/map.js" defer></script>
<script src="assets/js/chart.min.js" defer></script>

<script src ="js/color-map-languages.js" defer></script>
<script src ="js/graph-languages.js" defer></script>

<% include ../partials/footer.ejs %>
