<% include ../partials/top.ejs %>

<title> <%= title_totalcontributions %> </title>

<% include ../partials/head.ejs %>

<h1>Total contributions in each province of Spain</h1>

<p>This chart shows the top 5 provinces in number of contributions</p>

<canvas id="char" style="width:60%;" height="400"></canvas>

<h2>Legend</h2>
<table id="legend" style="width:60%; margin: 0 auto;">
</table>



<h2>Ranking of total contributions</h2>
<table id="contributions">
  <thead>
    <tr>
      <th>Position</th>
      <th>City</th>
      <th>Total contributions</th>
    </tr>
  </thead>
</table>


<h2>How it was calculated?</h2>
<p>I took the data from this <a href="https://github.com/JJ/top-github-users-data">repository</a>. Then,
  I added all contributions in each province and I saved the total contributions with
  the date when I did this operations.</p>

<h2>Data</h2>
<ul class="actions">
	<li><a href="https://github.com/iblancasa/GitHub-DataProcessed-Spain/blob/master/totalContributions.json" class="button"> <i class="fa fa-github"></i>Go to the data</a></li>
</ul>

<% include ../partials/scripts.ejs %>
<script src="assets/js/chart.min.js" defer></script>
<script src="js/total-contributions.js" defer></script>
<% include ../partials/footer.ejs %>
